<!DOCTYPE html>
<html>
  <head>
    <meta charset='=utf-8'>
    <title>MadLibs Form</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <form action="" method="post">
      <label for="person">Person</label>
      <input id="person" name="person" type="text">
      <label for="adjective1">Adjective 1</label>
      <input id="adjective1" name="adjective1" type="text">
      <label for="adjective2">Adjective 2</label>
      <input id="adjective2" name="adjective2" type="text">
      <label for="noun1">Noun 1</label>
      <input id="noun1" name="noun1" type="text">
      <label for="adjective3">Adjective 3</label>
      <input id="adjective3" name="adjective3" type="text">
      <label for="noun2">Noun 2</label>
      <input id="noun2" name="noun2" type="text">
      <label for="color">Color</label>
      <input id="color" name="color" type="text">
      <label for="verb1">Verb 1</label>
      <input id="verb1" name="verb1" type="text">
      <label for="verb2">Verb 2</label>
      <input id="verb2" name="verb2" type="text">
      <label for="verb3">Verb 3</label>
      <input id="verb3" name="verb3" type="text">
      <label for="verb4">Verb 4</label>
      <input id="verb4" name="verb4" type="text">
      <button type="submit">Go!</button>
    </form>
  </body>
</html>