@{
  Layout = "_Layout";
}
<form action="/form-select" method="get">
  <select name="madLibSelection" class="form-control">
    <option value="park">Park</option>
    <option value="astronaut">Astronaut</option>
  </select>
  <button type="submit" class="btn btn-info">Go!</button>
</form>