<!DOCTYPE html>
<html>
  <head>
    <meta charset='=utf-8'>
    <title>MadLibs Form</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <form action="/story" method="post">
        <label for="person">Person</label>
        <input id="person" name="person" type="text" class="form-control">


        <button type="submit" class="btn btn-info">Tell me a story.</button>
      </form>
    </div>
  </body>
</html>